:root {
  --transparency-lvl: 0.6;
  --general-text-color: aliceblue;
}


html {
  background: url(./assets/img/sky.jpg) no-repeat fixed center center;
  background-size: cover;
}

body {
  background: inherit;
  background-color: unset !important;
}

header {
  background-color: rgba(0, 0, 0, var(--transparency-lvl));
}

footer {
  position: fixed;
  padding: 10px 10px 0 10px;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, var(--transparency-lvl));
  text-align: center;
  color: var(--general-text-color);
}

@media only screen and (max-width:720px) {
  footer {
    font-size: 8px;
  }
}

@media only screen and (min-width:721px) {
  footer {
    font-size: 1vw;
  }
}

@media only screen and (min-width:1080px) {
  footer {
    font-size: 0.8vw;
  }
}


.text-box-transparent {
  background-color: rgba(0, 0, 0, var(--transparency-lvl));
  border-radius: 1rem;
  color: var(--general-text-color);
}
